html,
body,
#app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	background-color: #f8f8f8;
	font-size: 14px;
	overflow: hidden;
	position: relative;
}

/* layout主布局样式
------------------------------- */
.layout-container {
	width: 100%;
	height: 100%;
	.layout-main {
		padding: var(--padding-layout-main);
		overflow: scroll;
		width: 100%;
    background-color: var(--bg-main);
	}
}

/* 字体颜色值
------------------------------- */
.color-primary {
	color: var(--color-primary);
}
.color-success {
	color: var(--color-success);
}
.color-warning {
	color: var(--color-warning);
}
.color-danger {
	color: var(--color-danger);
}
.color-info {
	color: var(--color-info);
}

// 覆盖滚动条
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color:#ccc;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255,255,255,1);
  background-color:#eee;
}