/* 全局常量
------------------------------- */

/* layout常量 */
$--height-header: 50px;
// main内容区域padding
$--padding-layout-main: 16px;

/* 赋值给:root
------------------------------- */
:root {
	--height-header: #{$--height-header};
	--padding-layout-main: #{$--padding-layout-main};
}